// Place all the styles related to the Lab controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gene-selector {
	display: block;
	margin-bottom: 20px;
	width: 200px;
}

.right-side {
	float: right;
}

.left-size {
	float: left;
}