<h1>Lab</h1>

<div class="right-side">
	<h2>Preview Image</h2>
	<img id = 'displayImage' src = 'https://pixabay.com/get/eb36b10628f0033ed1534705fb0938c9bd22ffd41cb3144896f6c07ea0/question-2309042_1920.jpg' style="width: 500px; height: 500px; display: block; margin-bottom: 20px;" />
	<label>FINAL SEQUENCE</label><br>
	<input type="text" value="0" class = 'final_seq' />
</div>

<div class="left-size">

	<h2>Beast Slow-Cooker</h2>

	<label class = 'dino uni'>beastType</label>
	<select class = 'gene-selector dino uni' id = 'beastType'>
	    <option value = "0">Dinosaur</option>
	    <option value = "1">Unicorn</option>
	</select>

	<label class = 'dino uni'>ability</label>
	<select class = 'gene-selector dino uni' id = 'ability'>
	    <option value = "0">?</option>
	    <option value = "1">Buff</option>
	    <option value = "2">Athletic</option>
	    <option value = "3">Tough</option>
	    <option value = "4">Erudyte</option>
	</select>

	<label class = 'dino uni'>secondAbility</label>
	<select class = 'gene-selector dino uni' id = 'secondAbility'>
	    <option value = "0">None</option>
	    <option value = "1">Buff</option>
	    <option value = "2">Athletic</option>
	    <option value = "3">Tough</option>
	    <option value = "4">Erudyte</option>
	</select>

	<label class = 'dino uni'>pedigree</label>
	<select class = 'gene-selector dino uni' id = 'pedigree'>
	    <option value = "0">?</option>
	    <option value = "1">Common</option>
	    <option value = "2">Rare</option>
	    <option value = "3">Epic</option>
	    <option value = "4">Legendary</option>
	</select>

	<label class = 'dino uni'>element</label>
	<select class = 'gene-selector dino uni' id = 'element'>
	    <option value = "0">?</option>
	    <option value = "1">Water</option>
	    <option value = "2">Fire</option>
	    <option value = "3">Air</option>
	    <option value = "4">Earth</option>
	</select>

	<label class = 'dino uni'>type</label>
	<select class = 'gene-selector dino uni' id = 'type'>
	    <option value = "0">?</option>
	    <option value = "1">Type #1</option>
	    <option value = "2">Type #2</option>
	    <option value = "3">Type #3</option>
	    <option value = "4">Type #4</option>
	    <option value = "5">Type #5</option>
	</select>

	<label class = 'dino uni'>eyes</label>
	<select class = 'gene-selector dino uni' id = 'eyes'>
	    <option value = "0">?</option>
	    <option value = "1">Eyes #1</option>
	    <option value = "2">Eyes #2</option>
	    <option value = "3">Eyes #3</option>
	    <option value = "4">Eyes #4</option>
	    <option value = "5">Eyes #5</option>
	</select>

	<label class = 'dino'>nose</label>
	<select class = 'gene-selector dino' id = 'nose'>
	    <option value = "0">?</option>
	    <option value = "1">Nose #1</option>
	    <option value = "2">Nose #2</option>
	    <option value = "3">Nose #3</option>
	    <option value = "4">Nose #4</option>
	    <option value = "5">Nose #5</option>
	</select>

	<label class = 'dino'>mouth</label>
	<select class = 'gene-selector dino' id = 'mouth'>
	    <option value = "0">?</option>
	    <option value = "1">Mouth #1</option>
	    <option value = "2">Mouth #2</option>
	    <option value = "3">Mouth #3</option>
	    <option value = "4">Mouth #4</option>
	    <option value = "5">Mouth #5</option>
	</select>

	<label class = 'dino uni'>tail</label>
	<select class = 'gene-selector dino uni' id = 'tail'>
	    <option value = "0">?</option>
	    <option value = "1">Tail #1</option>
	    <option value = "2">Tail #2</option>
	    <option value = "3">Tail #3</option>
	    <option value = "4">Tail #4</option>
	    <option value = "5">Tail #5</option>
	</select>

	<label class = 'dino'>plume</label>
	<select class = 'gene-selector dino' id = 'plume'>
	    <option value = "0">?</option>
	    <option value = "1">Plume #1</option>
	    <option value = "2">Plume #2</option>
	    <option value = "3">Plume #3</option>
	    <option value = "4">Plume #4</option>
	    <option value = "5">Plume #5</option>
	</select>

	<label class = 'dino uni'>legs</label>
	<select class = 'gene-selector dino uni' id = 'legs'>
	    <option value = "0">?</option>
	    <option value = "1">Legs #1</option>
	    <option value = "2">Legs #2</option>
	    <option value = "3">Legs #3</option>
	    <option value = "4">Legs #4</option>
	    <option value = "5">Legs #5</option>
	</select>

	<label class = 'dino'>spikes</label>
	<select class = 'gene-selector dino' id = 'spikes'>
	    <option value = "0">?</option>
	    <option value = "1">Spikes #1</option>
	    <option value = "2">Spikes #2</option>
	    <option value = "3">Spikes #3</option>
	    <option value = "4">Spikes #4</option>
	    <option value = "5">Spikes #5</option>
	</select>

	<label class = 'dino'>wings</label>
	<select class = 'gene-selector dino' id = 'wings'>
	    <option value = "0">?</option>
	    <option value = "1">Wings #1</option>
	    <option value = "2">Wings #2</option>
	    <option value = "3">Wings #3</option>
	    <option value = "4">Wings #4</option>
	    <option value = "5">Wings #5</option>
	</select>

	<label class = 'uni'>horn</label>
	<select class = 'gene-selector uni' id = 'horn'>
	    <option value = "0">?</option>
	    <option value = "1">Horn #1</option>
	    <option value = "2">Horn #2</option>
	    <option value = "3">Horn #3</option>
	    <option value = "4">Horn #4</option>
	    <option value = "5">Horn #5</option>
	</select>

	<label class = 'uni'>snout</label>
	<select class = 'gene-selector uni' id = 'snout'>
	    <option value = "0">?</option>
	    <option value = "1">Snout #1</option>
	    <option value = "2">Snout #2</option>
	    <option value = "3">Snout #3</option>
	    <option value = "4">Snout #4</option>
	    <option value = "5">Snout #5</option>
	</select>

	<label class = 'uni'>hair</label>
	<select class = 'gene-selector uni' id = 'hair'>
	    <option value = "0">?</option>
	    <option value = "1">Hair #1</option>
	    <option value = "2">Hair #2</option>
	    <option value = "3">Hair #3</option>
	    <option value = "4">Hair #4</option>
	    <option value = "5">Hair #5</option>
	</select>
</div>
<div class="clear: both"></div>