<!DOCTYPE html>
<html>
  <head>
    <title>RumblelegendsBeastlab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
